.about{
    height: 100vh;
}

.about-page{
    height: 80vh;
}

.about-head{
    width: 100vw;
    text-align: center;
}

.about-content{
    display: flex;
    margin: 0 auto;
    width: 80vw;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
}

.about-image img{
    display: inline-block;
    border-radius: 20px;
}

.about-intro{
    width: 33vw;
}

.nameRole{
    line-height: 10px;
    margin-bottom: 30px;
}

.age, .phone, .email, .about-name, .about-me    , .contact-me{
    color: rgb(0 250 255);
}

@media all and (max-width: 930px) {
    .about{
        height: 90vh;
        margin: auto;
        display:block;
        flex-direction: column;
        justify-content:space-evenly;
    }
    .about-content{
        flex-direction: column;
        justify-content:space-between;
    }

    .about-detail{
        height: 4vh;
    }

    .about-page{
        position: absolute;
    }

    .about-head{
        margin-top: 0px;
        width: 100vw;
        text-align: center;
    }

    .about-intro{
        flex-direction: column;
        width: 90vw;
    }
}